.search {
    flex-grow: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border: 2px solid green;
    border-radius: 4px;
    padding: 4px;
}

.search input {
    padding: 4px;
    margin-right: 10px;
    border: none;
    font-size: 17px;
    /* border-radius: 4px; */
}

.search button {
    padding: 6px 10px;
    background: white;
    color: green;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

.search button i {
    font-size: 18px;
}

.search button:hover {
    background: darkgreen;
    color: white;
}
